/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* COMMON STYLING */
:root {
    --black: rgb(25, 25, 25);
    --grey: rgb(32, 32, 32);
    --light-grey: rgb(146, 146, 146);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--grey);
    color: var(--light-grey);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 0.9rem;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.projects-header, .projects-container > div {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    transition: background-color 20ms ease-in;
}

.projects-header:hover, .projects-container > div:hover, .add-btn:hover, .delete-btn:hover {
    background-color: rgba(255, 255, 255, 0.055);
}

.project-item {
    display: flex;
    justify-content: space-between;
}

.add-btn, .delete-btn {
    width: 24px;
    height: auto;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 20ms ease-in;
}

.btn-container, .project-item > img {
    opacity: 0;
    pointer-events: none;
}

.projects-header:hover .btn-container, .project-item:hover > img {
    opacity: 1;
    pointer-events: auto;
}

/* MAIN CONTENT */
.content {
    background-color: var(--black);
    overflow-y: auto;
}

.project-content {
    color: var(--light-grey);
    margin-top: 44px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.project-content > h1 {
    border: 1px solid transparent;
}

.project-content > h1:hover {
    border-color: rgba(146, 146, 146, 0.2);
}

.project-content > h1, .project-name-input {
    grid-column: 2 / 3;
}

.project-name-input {
    color: var(--light-grey);
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    background: none;
    border: none;
}

.project-name-input:focus {
    outline: none;
}
