/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* COMMON STYLING */
:root {
    --black: rgb(25, 25, 25);
    --grey: rgb(32, 32, 32);
    --light-grey: rgb(146, 146, 146);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--grey);
    color: var(--light-grey);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.projects-header {
    display: flex;
    justify-content: space-between;
}

.projects-header img {
    width: 24px;
    height: auto;
}

/* MAIN CONTENT */
.content {
    background-color: var(--black);
}
